<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <link rel="stylesheet" href="/edit.css" />
  </head>
  <body>
    <main>
      <header>
        <h1>Edit Post</h1>
      </header>
      <h2>Post Id: <%= post.id %></h2>
      <h2>Post Username: <%= post.username %></h2>
      <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
        <textarea name="content" id="content"><%= post.content %></textarea>
        <input type="submit" value="Update Post" />
      </form>
    </main>
  </body>
</html>
