<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new post</title>
  </head>
  <body>
    <head>
      <h1>Add New Post</h1>
    </head>
    <main>
      <form action="/posts" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
        <label for="content">Enter Post content</label>
        <textarea name="content" id="content"></textarea>
        <input type="submit" />
      </form>
    </main>
  </body>
</html>
