<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Post</title>
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <main>
      <h1>Add New Post</h1>
      <form action="/posts" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />

        <label for="content">Enter Post Content</label>
        <textarea name="content" id="content" required></textarea>

        <input type="submit" value="Create Post" />
      </form>
    </main>
  </body>
</html>
