<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Details</title>
    <link rel="stylesheet" href="/post.css" />
  </head>
  <body>
    <div class="post-container">
      <h1>Post Details</h1>
      <h2>Username: @<%= post.username %></h2>
      <h3>Post ID: <%= post.id %></h3>
      <h4>Post Content: <%= post.content %></h4>
      <button><a href="/posts">Back to HomePage</a></button>
    </div>
  </body>
</html>
